{
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "prettier",
    "next"
  ],
  "rules": {
    // "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    // "react/react-in-jsx-scope": "off",
    // "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    // "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_" }
    ],
    "import/no-unused-modules": ""
  }
}
