@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}
.ant-typography {
  font-family: "Inter", sans-serif; /* Set your desired font family */
  /* Add any other custom styles you want here */
}
.ant-table-wrapper .ant-table,
.ant-dropdown-menu-item .ant-dropdown-menu-title-content,
.ant-btn,
.ant-form-item-label,
.ant-spin {
  font-family: "Inter", sans-serif;
}

.ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}
.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: white;
}
.custom-modal-title {
  background-color: #f6e05e; /* Set the background color */
  color: #1a202c; /* Set the text color */
  font-size: 20px; /* Set the font size */
  padding: 10px; /* Add some padding */
}
.custom-spin {
  opacity: 2;
  background: white;
}
.custom-rangePicker-dropdown .ant-picker-panel-container {
  box-shadow: none;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon,
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner,
.ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #1a202c !important;
  border-color: #1a202c;
}

.ant-btn-primary {
  background-color: #00a3de;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #97cb00;
  border-color: #97cb00;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #ffffff;
  position: relative;
  top: -4.5px;
  line-height: 1;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused .ant-select-selector,
.ant-picker:hover .ant-picker-input,
.ant-picker-focused .ant-picker-input,
.ant-picker-focused,
.ant-picker-input > input-focused,
.ant-picker-input > input:hover,
.ant-picker-cell-inner::before,
.ant-input:hover,
.ant-input:focus,
.ant-input-password:hover,
.ant-picker:hover,
.ant-input-affix-wrapper:focus,
.ant-radio-inner,
.ant-pagination-item-active,
.ant-input-affix-wrapper-disabled:hover,
.ant-input-affix-wrapper:hover {
  border-color: black !important; /* Change to the desired border color */
}

.ant-btn:not(:disabled):focus-visible {
  outline: 2px solid black;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}

.ant-picker-active-bar,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-radio-checked .ant-radio-inner,
.ant-spin-dot-item {
  background: black !important;
}
.ant-picker-today-btn,
.ant-pagination-item-active a,
.ant-spin {
  color: black !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked:hover .ant-checkbox-inner,
.ant-checkbox-checked:hover .ant-checkbox-outer {
  background-color: black !important;
  border-color: black !important;
  box-shadow: none !important; /* Remove any box shadow */
}
.ant-checkbox-checked:after {
  border: none !important;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-checkbox.checked,
.ant-btn-default:not(:disabled):hover {
  /* background-color: black; */
  border-color: black;
  color: black;
}
.custom-checkbox {
  /* ... your existing styles ... */
  position: relative;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-color: red;
}
.custom-checkbox .ant-checkbox {
  display: none;
}

.custom-checkbox-noMarginInline-wrapper
  + .custom-checkbox-noMarginInline-wrapper {
  margin-inline-start: 0px;
}
.custom-dropdown-bg .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: white !important;
  cursor: auto;
}

.custom-create-task-css .ant-form-item-label {
  padding: 0;
}

.oneComponentDropdownItem .ant-dropdown-menu-item {
  padding: 5px 0 !important;
}
